@{
    ViewData["Title"] = "Fusos";
}

<<<<<<< HEAD
<div class="row text-center text-muted mt-5">
    <div class="col">
        <h3>Fuso Horário de Brasília</h3>
    </div>
</div>

<div class="row text-center">
    <div class="col ">
        <span id="horaCerta" class="text-dark hora">Carregando ...</span>
        
    </div>
</div>

<div class="row text-center text-muted my-3">
    <div class="col">
       <h3 id="data">Carregando ...</h3>
    </div>
=======
<div class="row justify-content-center text-dark my-5">
    <h1>@ViewData["Title"]</h1>
>>>>>>> 34c38ec00cee6695cb9b55fd7069960950edcf77
</div>