@{
    ViewData["Title"] = "Fusos";
}

<div class="row text-center text-muted mt-5">
    <div class="col">
        <h3>Hora do seu Fuso Horário</h3>
    </div>
</div>

<div class="row text-center">
    <div class="col ">
        <span id="horaCerta" class="text-dark hora">00:00:00</span>
    </div>
</div>