@{
    ViewData["Title"] = "Fusos";
}

<div class="row text-center text-muted mt-5">
    <div class="col">
        <h3>Fuso Horário de Brasília</h3>
    </div>
</div>

<div class="row text-center">
    <div class="col ">
        <span id="horaCerta" class="text-dark hora">Carregando ...</span>
        
    </div>
</div>

<div class="row text-center text-muted my-3">
    <div class="col">
       <h3 id="data">Carregando ...</h3>
    </div>
</div>