@{
    ViewData["Title"] = "Fusos";
}

<div class="row text-center text-muted mt-5">
    <div class="col">
        <h3>Fuso Horário de Brasília</h3>
    </div>
</div>

<div class="row text-center">
    <div class="col ">
        <span id="horaCerta" class="text-dark hora">Carregando ...</span>
        
    </div>
</div>

<div class="row text-center text-muted my-3">
    <div class="col">
       <h3 id="data">Carregando ...</h3>
    </div>
</div>

<!---------- Descrições do Relógio  --------------->

<div class="row justify-content-center mt-5 py-3 bg-dark text-light ">
    <div class="col">
        <h5>Informações sobre o Relógio Online.</h5>
        <hr class="bg-light">
        <p>
           O relógio online mostra a hora certa no Brasil no fuso horário de brasília. 
        </p>
        <p>
           O fuso horário de Brasília está 3 horas atrasado (UTC -0300) em relação ao UTC zero. 
           UTC (Tempo Universal Coordenado) é um padrão de hora internacional muito utilizado.
        </p>
        <p>
            O Brasil possui 4 fusos horários diferentes devido ao seu grande território, o relógio
            online mostra apenas o horário com o fuso de brasília, mais utilizado no Brasil, então
            se você estiver em um dos outros fusos precisa fazer a conversão de horas.
        </p>
    </div>
</div>