@{
<<<<<<< HEAD
    ViewData["Title"] = "Home Page";
}

<div class="row text-center">
    <h1 class="display-4">Bem Vindo</h1>
=======
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Leia Sobre <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
>>>>>>> 34c38ec00cee6695cb9b55fd7069960950edcf77
</div>
