@{
<<<<<<< HEAD
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
=======
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Use esta página para detalhar a politica de privacidade do seu site.</p>
>>>>>>> 34c38ec00cee6695cb9b55fd7069960950edcf77
